In [1]:
l = [1,2,3,4,5,6]

In [6]:
for element in l:
    print (element)

1
2
3
4
5
6

In [8]:
for x in range(1,5):
    print (x)

1
2
3
4

In [11]:
for x in range(3):
    print (x)

0
1
2

In [12]:
for x in range(5,20):
    print (x)

5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [13]:
l

[1, 2, 3, 4, 5, 6]

In [14]:
list_sum = 0

In [15]:
for num in l:
    list_sum += num
print(list_sum)

21

In [16]:
s= 'this is the string'
for c in s:
    print (c)

t
h
i
s

i
s

t
h
e

s
t
r
i
n
g

In [17]:
tup = (1,2,3,4,5)

In [18]:
for t in tup:
    print (t)

1
2
3
4
5

In [19]:
l = [(2,4),(6,8),(10,12)]

In [20]:
l

[(2, 4), (6, 8), (10, 12)]

In [21]:
l[0]

(2, 4)

In [22]:
l[0][1]

4

In [23]:
l[0][1] = 1

TypeError: 'tuple' object does not support item assignment

In [24]:
# that cell is still a tuple element, so unchangable

In [26]:
for tup in l:
    print (tup)

(2, 4)
(6, 8)
(10, 12)

In [28]:
for (t1,t2) in l:
    print (t1,t2,' = ', t1+t2)

2 4  =  6
6 8  =  14
10 12  =  22

In [32]:
for (t1,t2) in l:
    print ('{x1} {x2} = {x3}'.format(x1 = t1,x2 = t2,x3=t1+t2))

2 4 = 6
6 8 = 14
10 12 = 22